.accordion-main {
    width: 90vw;
    margin: 0 auto; /* Center the container horizontally */
}

.accordion-header{
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    text-align: start;
}

.accordion-content {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}

/* Define the styles for the open state */
.accordion-content-open {
    height: auto;
}
